.sidebar__compose {
    margin: 15px 10px !important;
    color: gray !important;
    font-weight: bold !important;
    padding: 15px !important;
    border-radius: 30px !important;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .75);
}

.sidebar__footer {
    display: flex;
    align-items: center;
}